<div id='board_section'>

  <table id='board'>
  <tbody>

  <tr>
    <td class='corner'></td>
    <% @board.column_labels.each do |column_label| %>
      <% column_id = "column_#{column_label}" %>
      <td id='<%= column_id %>'><%=column_label%></td>
    <% end %>
    <td class='corner'></td>
  </tr>

  <% @board.row_labels.each do |row_label| %>
    <tr>
      <% row_id = "row_#{row_label}" %>
      <td id='<%= row_id %>'><%=row_label%></td>
      <% @board.column_labels.each do |column_label| %>
        <% cell_id = "cell_#{column_label}#{row_label}" %>
        <% piece_id = "piece_#{column_label}#{row_label}" %>
        <td id='<%= cell_id %>'><section id='<%= piece_id %>'/></td>
      <% end %>
      <td id='<%= row_id %>'><%=row_label%></td>
    </tr>
  <% end %>

  <tr>
    <td class='corner'></td>
    <% @board.column_labels.each do |column_label| %>
      <% column_id = "column_#{column_label}" %>
      <td id='<%= column_id %>'><%=column_label%></td>
    <% end %>
    <td class='corner'></td>
  </tr>

  </tbody>
  </table>

</div>
