<%= form_for(@ataxx_board) do |f| %>
  <% if @ataxx_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ataxx_board.errors.count, "error") %> prohibited this ataxx_board from being saved:</h2>

      <ul>
      <% @ataxx_board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :x_size %><br />
    <%= f.number_field :x_size %>
  </div>
  <div class="field">
    <%= f.label :y_size %><br />
    <%= f.number_field :y_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
